<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<body>
<header class=".lloyds-bg navbar sticky-top flex-md-nowrap p-0 shadow" style="background: #00864F;">
  <a class="navbar-brand me-0 px-3 fs-4 text-white" href="#">Lloyds Banking Group</a>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
